*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #151615;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
section {
  margin: 20px;
}

.readintro p {
  margin: 20px;
  max-width: 500px;
}
a {
  color: #6eb8ff;
}
.nowreading {
  margin: 20px;
}
.pastreading {
  margin: 16px;
}
.h3pass {
  margin: 5px;
}
.passbook {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 10px;
}
.dateread {
  margin: 5px;
}
img {
  object-fit: cover;
}
footer {
  margin: 50px;
}
